In [1]:
import pandas as pd 
import numpy as np 
import requests
from bs4 import BeautifulSoup

In [2]:
url = "http://www.isthe.com/chongo/tech/astro/HR-temp-mass-table-byhrclass.html#below"

In [12]:
star_data = pd.DataFrame()
html = pd.read_html(url)
for i in html:
    star_data = pd.concat([star_data, i])

In [13]:
len(star_data)

1242

In [14]:
star_data.head()

,0,1,2,Abs MagMv,Bolo CorrBC(Temp),Bolo MagMbol,Color IndexB-V,LuminosityLstar/Lsun,MassMstar/Msun,RadiusRstar/Rsun,Star ColorRGB 0-255,StellarType,TempK
0,NaN,NaN,custom search of this site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Stellar Classification Table - sorted by HR Class,Stellar Classification Table - sorted by HR Class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,[chongo's home] [Astronomy] [Mathematics] [Pri...,[chongo's home] [Astronomy] [Mathematics] [Pri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"<!-- google_ad_client = ""ca-pub-47247383615902...",NOTE: See below for credit on the data source ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
star_data.drop([0, 1, 2], axis=1, inplace=True)

In [16]:
star_data.dropna(axis=0, how='any', inplace=True)

In [17]:
len(star_data)

1100

In [19]:
star_data.head()

,Abs MagMv,Bolo CorrBC(Temp),Bolo MagMbol,Color IndexB-V,LuminosityLstar/Lsun,MassMstar/Msun,RadiusRstar/Rsun,Star ColorRGB 0-255,StellarType,TempK
1,-9.5,-4.58,-14.08,-0.35,34100000.0,160.0,80.2,144 166 255,O0Ia0,50000.0
2,-6.7,-4.58,-11.28,-0.35,2590000.0,150.0,22.1,144 166 255,O0Ia,50000.0
3,-6.5,-4.58,-11.08,-0.35,2150000.0,140.0,20.2,144 166 255,O0Ib,50000.0
4,-6.5,-4.58,-11.08,-0.35,2150000.0,130.0,20.2,144 166 255,O0II,50000.0
5,-6.5,-4.58,-11.08,-0.35,2150000.0,120.0,20.2,144 166 255,O0III,50000.0

In [22]:
import pandas_profiling

In [25]:
profile = star_data.profile_report(title='EDA of star dataset using Pandas Profiling')
# save the minified report
profile.to_file(output_file="star.html")

Summarize dataset: 100%|██████████| 25/25 [00:15<00:00,  1.67it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.25s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.12s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 59.52it/s]