In [2]:
import pandas as pd 
import numpy as np 
import requests
from bs4 import BeautifulSoup

In [4]:
url = "http://www.isthe.com/chongo/tech/astro/HR-temp-mass-table-byhrclass.html#below"

In [5]:
star_data = pd.DataFrame()
html = pd.read_html(url)
for i in html:
    star_data = pd.concat([star_data, i])

In [6]:
len(star_data)

1242

In [10]:
star_data.head()

,0,1,2,Abs MagMv,Bolo CorrBC(Temp),Bolo MagMbol,Color IndexB-V,LuminosityLstar/Lsun,MassMstar/Msun,RadiusRstar/Rsun,Star ColorRGB 0-255,StellarType,TempK
0,NaN,NaN,custom search of this site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Stellar Classification Table - sorted by HR Class,Stellar Classification Table - sorted by HR Class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,[chongo's home] [Astronomy] [Mathematics] [Pri...,[chongo's home] [Astronomy] [Mathematics] [Pri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"<!-- google_ad_client = ""ca-pub-47247383615902...",NOTE: See below for credit on the data source ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN